<div class="section">
    <table class="table detail-table" id="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td><%= data.id %></td>
            </tr>
            <tr>
                <td>Icon</td>
                <td><img src="<%= data.picUrl %>" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><%= data.name %></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><%= data.phone %></td>
            </tr>
            <tr>
                <td>Join Time</td>
                <td><%= data.addTime %></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="/">返回</a></td>
            </tr>
        </tbody>
    </table>
</div>